/* The body selector is outside our @media selectors, and will cascade down
into them. */
body {
	font-family: Verdana; /* We should always have a fallback font. We don't have one here.
							 what would be a good fallback? Hint: serif or sans-serif?; */
	color: #333; /* Colors can be expressed in many ways. #333 is actualy #333333.
				    you could have #2C8, for example, which would mean #22CC88. */
}

@media screen and (min-width: 600px){
	body {		
		font-size: 0.9em;
	}
	.boxed {
		padding: 0px 10px 0px 10px; /* How could you shorten this to only two numbers? */
		margin: 10px 20px 10px 20px; /* Same here! */
		border: 1px solid black;
		border-radius: 5px;
		background-color: skyblue;		
		float: left;
		width: 200px;
		height: 250px;
	}
	.boxed ol li {
		list-style: upper-roman;
	}
}

@media screen and (max-width: 599px){
	body {		
		font-size: 1.2em;
	}
	.boxed {
		padding: 0px 5px 0px 5px;
		margin-bottom: 10px;
		border: 1px solid black;
		background-color: skyblue;
		width: 99%;
		height: 300px;
	}
}