body {
	font-family: Verdana, sans-serif;
	font-size: 1.2em;
	color: #222;
}

#container {
	width: 960px; /* Everything will be forced to fit into 960 pixels across. */
	margin: 0px auto; /* Center our elements horizontally (left to right).*/
}

#header {	
	background-color: #B1E6FF;
	margin: 5px 10px;  /* Only two values? That means top and bottom for one, left and right 
						for the other*/
	text-align: center;
	border: 1px solid black;
}

#nav_container {
	background-color: #B1E6FF;
	float: left;
	width: 225px;
	padding: 5px 10px;
	margin: 5px 10px;
	border: 1px solid black;	
}

/* Change the link colors to something more interesting */
#nav_container ul li a {
	color: #32677F;
}

/* Change the mouse-over colors for the links */
#nav_container ul li a:hover {
	color: orangered;
}

#content {
	background-color: #B1E6FF;
	float: left;
	width: 650px;
	padding: 5px 10px;
	margin: 5px 10px 10px 10px; /* All four values give us the top, right, bottom, and left */
	border: 1px solid black; /* One value means that it is applied to all sides. */
}

#footer {
	font-size: 0.9em;
	clear: both;
	padding: 10px;
	margin: 0px 10px 0px 10px;
	border: 1px solid black;
	background-color: #B1E6FF;
	text-align: center;
}