body{    
    font-family: roboto, sans-serif;    
    background-color: #111;
    color: #AAA;
}

a {
    color: skyblue;
}
a:hover{
    font-weight:bold;
}

h1{
    font-size: 3.5em;
    font-family: impact, fantasy;
    font-variant:small-caps;
    color: indianred;
}

div#clock{    
    text-align:center;
    font-family: monospace;
    color: gold;
    font-weight: bold;
    font-size: 5em;
}